/* nav class  - Just 'Latitude'*/
.navbar-brand{
    background-color:rgb(62, 204, 161);
    font-weight: bold;
    color: white;
    float:right;
    padding:10px 0 10px 1;
    margin-top: 30%;
    margin:10px;
    }
h1 {
    margin-bottom: 30px;
    margin-top: 2%;
    font-size:60px;
    font-weight: bold;
    color:rgb(62, 204, 161);
    text-align: left;
}
h2 {
    font-size:30px;
    font-weight: bold;
    color:rgb(62, 204, 161);
}
/* formatting for items in left white box */
